<div class='status' style='background-color: #183a4b; color: white; padding-top: 4px; padding-bottom: 4px; padding-left: 20px; padding-right: 20px; border-radius: 10px; font-family: Arial, sans-serif; font-size: 26px; display: inline-block; text-align: center; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);'><b>Fake GP Reviews</B> - REAL Reviews EDA</div>

## Loading Libraries

In [2]:
# Importing default Libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import datetime
import os
from tqdm import tqdm

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

# Hi-resolution Plots and Matplotlib inline
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

# Set the maximum number of rows and columns to be displayed
warnings.filterwarnings("ignore")

# "magic commands" to enable autoreload of your imported packages
%load_ext autoreload
%autoreload 2

In [6]:
from jan883_codebase.data_preprocessing.eda import *

<div class='status' style='background-color: #f5c244; color: white; padding-top: 2px; padding-bottom: 2px; padding-left: 7px; padding-right: 7px; border-radius: 6px; font-family: Arial, sans-serif; font-size: 18px; display: inline-block; text-align: center; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);'><b>Loading</b> dataset</div>

In [11]:
data = pd.read_csv("/Volumes/DataScienceHD/data/covid-hospitalizations.csv")
data.head(10)

    entity iso_code        date                        indicator   value
0  Algeria      DZA  2020-07-17              Daily ICU occupancy  62.000
1  Algeria      DZA  2020-07-17  Daily ICU occupancy per million   1.381
2  Algeria      DZA  2020-07-18              Daily ICU occupancy  67.000
3  Algeria      DZA  2020-07-18  Daily ICU occupancy per million   1.492
4  Algeria      DZA  2020-07-20              Daily ICU occupancy  64.000
5  Algeria      DZA  2020-07-20  Daily ICU occupancy per million   1.425
6  Algeria      DZA  2020-07-21              Daily ICU occupancy  56.000
7  Algeria      DZA  2020-07-21  Daily ICU occupancy per million   1.247
8  Algeria      DZA  2020-07-22              Daily ICU occupancy  51.000
9  Algeria      DZA  2020-07-22  Daily ICU occupancy per million   1.136

In [8]:
data = update_column_names(data)

In [12]:
data.head(2)

    entity iso_code        date                        indicator   value
0  Algeria      DZA  2020-07-17              Daily ICU occupancy  62.000
1  Algeria      DZA  2020-07-17  Daily ICU occupancy per million   1.381