In [3]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from friendsfamilytest.params import *

In [27]:
data = pd.read_csv(f'{DATA_PATH}/data.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                624 non-null    object
 1   rating              624 non-null    object
 2   free_text           488 non-null    object
 3   do_better           209 non-null    object
 4   free_text_len       624 non-null    int64
 5   do_better_len       624 non-null    int64
 6   rating_score        613 non-null    float64
 7   classif             624 non-null    object
 8   classif_scores      624 non-null    float64
 9   sentiment           624 non-null    object
 10  sentiment_score     624 non-null    float64
 11  improvement_labels  209 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 58.6+ KB

In [29]:
data['time'] = pd.to_datetime(data['time'])

In [30]:
print(f'pre drop: {data.shape}')
data.drop_duplicates()
print(f'post drop: {data.shape}')

pre drop: (624, 12)
post drop: (624, 12)

In [31]:
new = data[['time', 'sentiment', 'sentiment_score']].copy()

In [32]:
new.sort_values(by='time', inplace=True)

In [33]:
# Set the 'time' column as the index
new.set_index('time', inplace=True)

In [36]:


# Now, if you have one column for scores and another for the sentiment
# First, you'll need to convert the sentiment to separate columns
df_pivot = new.pivot_table(index=new.index, columns='sentiment', values='sentiment_score', aggfunc='mean')

# Now that you have a pivot table, you can resample it by month to get the mean values
monthly_means = df_pivot.resample('M').mean()

# monthly_means will now have the average of the sentiment scores for each month

In [37]:
monthly_mean]]]]]]

sentiment   negative   neutral  positive
time
2023-07-31  0.777425  0.751541  0.771399
2023-08-31  0.824313  0.646260  0.760963
2023-09-30  0.775967  0.694820  0.791779
2023-10-31  0.800190  0.657973  0.757178
2023-11-30  0.646914  0.607595  0.717819
2023-12-31  0.750231  0.678164  0.745230
2024-01-31       NaN  0.740755  0.672262

In [ ]:
sns.